.cardsContainer {
    height: calc(100vh - 145px);
    overflow: scroll;

}

/* THESE WILL HIDE SCROLLBAR */
/* .cardsContainer::-webkit-scrollbar {
  display: none;
}

.cardsContainer {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */

.mixesTransportContainer {
   position: fixed;
   bottom: 0;
   left: 0; 
}

.timerText {
    color: white;
    text-align: center;
    font-size: 25px;
}

#seekBar {
   width: 100%; 
}

.transportRow2 {
    display: flex;
    justify-content: space-around;
    
}

.playPause {
    float: right;
}

.volumeButton {
    float: left;
}

.volumeMixes {
    padding: 0px;
}

.popover-body {
    padding: 5px;
}

.transportButtons {
        width: 40px;
        height: 38px;
        margin: 0px;
        border: 3px solid white;
        border-radius: 35%;
        /* font-size: 35px; */
        /* padding: 0px; */
        background-color: rgb(252, 113, 0);
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
            0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.transportButtons:hover {
        transition-duration: 0.5s;
        background-color: aqua;
}

.mixCardUser {
    float: right;
}


