/********** DELAY **************/

#delayContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}

#delayP {
    text-align: center;
    margin: 0;
}

#delayContainer label {
    text-align: center;
}

#delayContainer p {
    /* border: 1px solid red; */
    text-align: center;
}

.delaySliderContainer {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 25% 25% 25% 25%;
}