/* SPEED */

#playSpeedContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}

#playSpeedP {
    text-align: center;
    margin: 0;
}

#playSpeedContainer p {
    text-align: center;
}

#playSpeedContainer label {
    text-align: center;
}

.playSpeedSliderContainer {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 25% 25% 25% 25%;
}

#playSpeedDetuneLabel {
    font-size: 12px;
}


